<tr>
  <th>
    <%= link_to task.title, task%>
  </th>
  <th colspan="2">
    <%= task.description %>
  </th>
  <th>
    <%= task.status %>
  </th>
  <th >
    <% if executor?(task) %>
    <%= link_to "update", edit_task_path(task), class: 'btn btn-warning' %>
    <% end %>
  </th>

  <th>
    <% if current_user.admin? %>
      <button type="button" class="btn btn-danger"
              data-toggle="modal" data-target="#deleteModal<%= task.id %>">
        delete
      </button>
    <% end %>
  </th>
</tr>


<div class="modal fade" id="deleteModal<%= task.id %>" tabindex="-1" role="dialog"
     aria-labelledby="deleteModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title center" id="exampleModalLabel">Delete '<%= task.title %>'</h4>
        <button class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body center">
        <h3>Are you sure?</h3>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          Cancel
        </button>
        <%= link_to 'Delete', task, method: :delete, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
</div>
