<h1>Update task</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@task) do |f| %>
      <%= render 'shared/error_messages', { temp: @task } %>

      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.label :description %>
      <%= f.text_field :description, class: 'form-control' %>

      <%= f.label :status %>
      <%= f.select :status, get_statuses, {}, class: 'form-control' %>

      <%= f.label "Executor" %>
      <%#= f.text_field "#{@user.first_name} #{@user.last_name}", class: 'form-control' %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>