<h1>Update task</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@task) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div>
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>

      <div>
        <%= f.label :description %>
        <%= f.text_field :description, class: 'form-control' %>
      </div>

      <div>
        <%= f.label :status %>
        <%= f.select :status, get_statuses, {}, class: 'form-control' %>
      </div>

      <!--todo executor doesn't change-->
      <div>
        <%= f.label "Executor" %>
        <%= f.select :id, full_names(@users), {}, class: 'form-control' %>
      </div>

      <div>
        <div id="submit">
          <%= f.submit "Save changes", class: "btn btn-primary" %>
        </div>

        <div id="cancel">
          <%= link_to "Cancel", :back, class: "btn btn-secondary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>