<h2>New task</h2>

<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <%= form_for(@task) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.hidden_field :project_id %>

      <div>
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>

      <div>
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control' %>
      </div>

      <!--todo executor doesn't change-->
<!--      <div>-->
        <%#= f.label "Executor" %>
        <%#= f.select :id, full_names(@users), {}, class: 'form-control' %>
<!--      </div>-->

      <div id="task-form-footer">
        <div id="submit">
          <%= f.submit "Submit", class: "btn btn-success" %>
        </div>

        <div id="cancel">
<!--          <a href="#" id="hide-link" class="btn btn-secondary"-->
<!--             onclick="hide('a#hide-link', 'a#show-link', 'div#task-form')">-->
<!--            Cancel-->
<!--          </a>-->
          <%= link_to "Cancel", :back %>
        </div>
      </div>

    <% end %>
  </div>
</div>