<h2>New task</h2>

<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <%= form_for(@task) do |f| %>

      <%= render 'shared/error_messages', object: f.object %>

      <%= f.hidden_field :project_id, params[:project_id].to_i %>

      <div>
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>

      <div>
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control' %>
      </div>

      <div>
        <%= f.label "Executor" %>
        <%= f.select :user_id, get_users(@users), {}, class: 'form-control' %>
      </div>

      <div id="task-form-footer">
        <div id="submit">
          <%= f.submit "Submit", class: "btn btn-success" %>
        </div>

        <div id="cancel">
          <%= link_to "Cancel", :back %>
        </div>
      </div>
    <% end %>
  </div>
</div>