<%# provide(:title, @user.first_name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.first_name %>
      </h1>
    </section>
  </aside>
</div>

<p>
  <%= @user.first_name %> <%= @user.last_name %>
</p>
<p>
  <%= @user.email %>
</p>

<% if @user.tasks.any? %>

  <%= render 'shared/base-task' %>
<% else %>
  <div class="center">
    <h3>List is empty</h3>
  </div>
<% end %>


<%#= render 'shared/show_tasks', { tasks: @user.tasks} %>