<table id="project-info" class="table">
  <caption class="center">
    <h2>Project Info</h2>
  </caption>
  <tbody class="projects">
  <tr>
    <th scope="colgroup" colspan="3">Name</th>
    <th scope="colgroup" colspan="9">
      <%= @project.name %>
    </th>
  </tr>
  <tr>
    <th scope="colgroup" colspan="3">Summary</th>
    <th scope="colgroup" colspan="9">
      <%= @project.summary %>
    </th>
  </tr>
  <tr>
    <th scope="colgroup" colspan="3">Start date and time</th>
    <th scope="colgroup" colspan="9">
      <%= @project.start_date.strftime("%d/%m/%Y %H:%M") %>
    </th>
  </tr>
  <tr>
    <th scope="colgroup" colspan="3">End date and time</th>
    <th scope="colgroup" colspan="9">
      <%= @project.end_date.strftime("%d/%m/%Y %H:%M") %>
    </th>
  </tr>
  </tbody>

</table>
<table id="project-tasks" class="container table">
  <caption class="center">
    <h3>Project Tasks</h3>
  </caption>
  <thead>
  <tr>
    <th scope="col">Title</th>
    <th scope="colgroup" colspan="2">Description</th>
    <th scope="col">Status</th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody class="tasks">
  <% @tasks.each do |task| %>
    <%= render 'tasks/base-task', {task: task} %>
  <% end %>
  </tbody>
</table>